<form action="postres/listar/" method="get"></form>

{{#each lista}}

<p>{{nombre}}</p>
<p>{{descripcion}}</p>
<p>{{precio}}</p>
<p>{{estado}}</p>
<a href="/postres/editar/{{idPostres}}"><button type="submit">Editar</button></a>
{{/each}}
